<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jimmyklein.pillreminder" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="Pill Pal"
        android:theme="@style/AppTheme"
        android:logo="@mipmap/icon_flat">
        <activity
            android:name=".LoginActivity"
            android:label="Pill Pal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientView"
            android:label="Pill Reminder">
        </activity>
        <activity
            android:name=".PatientDoctorInformation"
            android:label="Doctor Information">
        </activity>
        <activity
            android:name=".DoctorView"
            android:label="Doctor Page">
        </activity>
        <activity
            android:name=".DoctorViewAddPatient"
            android:label="Add Patient">
        </activity>
        <activity
            android:name=".SparkCore"
            android:label="Spark Core">
        </activity>
    </application>

</manifest>
